<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Simple Pre Code Dark Background</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'practicals/styles/googlecode.css' %}">
    <link rel="stylesheet" href="{% static 'practicals/code_style.css' %}">
</head>

<body>
    <div class="con">
        <div class='wrapper'>
            <pre id="question">{{ assignment.problem_statement }}</pre>
        </div>
        <div class='wrapper'>


          <pre><code class="c++" id="code">{{ code }}
          </code>
          </pre>
        </div>
    </div>
</body>
<script src="{% static 'practicals/highlight.pack.js' %}"></script>
<script src="{% static 'practicals/highlightjs-line-numbers.min.js' %}"></script>
<script>hljs.initHighlightingOnLoad();
hljs.initLineNumbersOnLoad();</script>

</html>

