<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
</head>
<body>
{% ifequal stream_count 0 %}
    No stream were added
    <br>
{% else %}
    Following subjects were added:<br>
    {% for stream in streams %}

        {{ stream }}
        <br>
    {% endfor %}
{% endifequal %}

{% ifequal subject_count 0 %}
    No subjects were added
    <br>
{% else %}
    Following subjects were added:<br>
    {% for subject in subjects %}

        {{ subject }}
        <br>
    {% endfor %}
{% endifequal %}

{% ifequal program_count 0 %}
    No Programs were added
    <br>
{% else %}
    Following Programs were added:<br>
    {% for program in programs %}
        {{ program }}
        <br>
    {% endfor %}
{% endifequal %}
</body>
</html>