<!DOCTYPE html>
<html>
<head>
    <title>Second Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'practicals/subject_style.css' %}">
</head>
<body>
<div class="wrap">
    <form id='submit_subject' action="{% url 'selection:change_subject' stream_id %}" method="get">
        <div class="left">
            {% for subject in subjects %}
                {% ifequal forloop.counter selected_subject_id %}
                    <button style="background: #f0f0f0;border-left:5px solid #05668d" id="subject{{ forloop.counter }}" name="subject"
                            value="{{ forloop.counter }}" class="leftButton">{{ subject }}</button>
                {% else %}
                    <button id="subject{{ forloop.counter }}" name="subject" value="{{ forloop.counter }}"
                            class="leftButton">{{ subject }}</button>
                {% endifequal %}
                <br>
            {% endfor %}
        </div>
    </form>
    <form id="select_assignment" action="{% url 'selection:view_code' stream_id selected_subject_id %}" method="get">
        <div class="right">
            {% for element in list_of_assign %}
                <details>
                    <summary>{{ element.0 }}
                        <div class="btn">
                            <button class="rightButtons" value="{{ forloop.counter0 }}" name="download"
                                    id="download{{ forloop.counter0 }}"><img
                                    src="{% static 'practicals/download.svg' %}" width="30px"
                                    height="30px"></button>
                            <button class="rightButtons" name="code" id="code{{ forloop.counter0 }}"
                                    value="{{ forloop.counter0 }}"><span>View Code </span><img
                                    src="{% static 'practicals/code.svg' %}"></button>
                        </div>
                    </summary>

                    <pre>{{ element.1 }}
                </pre>
                </details>
            {% endfor %}
        </div>
    </form>
</div>
</body>
</html>
